body{
	font-family: Verdana, Arial, Times, sans-serif;
	font-size: 15px;
	background-color: #fbfbfb;
}

img{
	width: 100%;
}
/*topo*/
#logo{
	width: 9%;
	float:left;
	margin-bottom: 1px;
}

#nome_site{
	margin-top: 2%;
	width: 50%;
	float: left;
}
.login{
	width: 40%;
	float: right;
}

.divider{
	clear: both;
}


/*menu*/
.cor{
	background-color: #ccc;
}
.menu{
	width: 100%;
	margin-bottom: 30px;
}

a{
	color:#000;
}

.tab:hover{
	background-color: #228B22;
}

/*conteudo geral*/
.coluna10{
	width: 10%;
	float: left;
	color:#fff;
}
.coluna20{
	width: 20%;
	float:left;
	color: #fff;
}

.coluna80{
	width: 80%;
	float: left;
	border: 1px solid #aaa;
	padding: 2%;
}


.escondido{
	display: none;
}

.modal {
	background: #000;
	opacity: 0.99;
	position: fixed;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;

}

.modal img{
	width: 30%;
	height: 60%;
    margin-left:30%;
    margin-top: 6%;
}

.modal .fechar{
	color: #ddd;
	position: fixed;
	top: 0;
	right: 0;
	cursor: pointer;
}
.fechar{
	width: 6%;
	margin-right: 
}

.espaco{
	margin-top: 2%;
}

.tamanho{
	width: 	30%;
}
.bordinha{
	margin-top: 2%;
}

#diminuir{
	width: 100%;
}
.carregando{
	width: 50%;
}
.rodape{
	color: #fff;
	text-align: center;
	background-color: #006400;
}

#enviar{
	margin-top: 4%;
	width: 8%
}
.log{
	font-weight: bold;
}

.mouse{
	cursor: pointer;
}
/*.tab.ativo{
	color: #fff;
	background-color: #cacaba;
}*/
.tab{
	height: 25px;
	color: #fff;
	width: 11%;
	float: left;
	margin-top: 2px;
	margin-left: 1px;
	border:1px solid #000;
	padding: 1.5%;
	background-color: #006400;
	text-align: center;
}
